.i-tag{
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px; /*no*/
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
}

.i-tag.red{
    background: #ed4014;
}
.i-tag.orange{
    background: #ed4014;
}
.i-tag.yellow{
    background: #e6ba00;
}
.i-tag.green{
    background: #19be6b;
}
.i-tag.lightGreen{
    background: #00d6e6;
}
.i-tag.blue{
    background: #2d8cf0;
}
.i-tag.purple{
    background: #b300e6;
}